<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-2">
      <app-alert
        [message]="error"
        *ngIf="error"
        (close)="onErrorHandle()"
      ></app-alert>

      <div *ngIf="isLoading" style="text-align: center">
        <app-spinner></app-spinner>
      </div>
      <form
        *ngIf="!isLoading"
        #formAuth="ngForm"
        (ngSubmit)="onSubmit(formAuth)"
      >
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            ngModel
            required
            email
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
            minlength="6"
            ngModel
          />
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!formAuth.valid"
        >
          {{ isLogginMode ? "Sign In" : "Sign Up" }}
        </button>
        |
        <button
          class="btn btn-secondary"
          type="button"
          (click)="toggleLoginMode()"
        >
          Switch to {{ isLogginMode ? "Signup" : "Signin" }}
        </button>
      </form>
    </div>
  </div>
</div>
